<li class="team-listing-li">
  {{#if team.name}}
    <div class="team-name"><button class='js-delete-team button__x' {{action 'deleteTeam'}}>&#215;</button> <span class="title">{{team.name}}</span></div>
  {{/if}}
  <ul class="engineer-list">
  {{#each team.engineers as |engineer|}}
    {{engineer-listing engineer=engineer deleteEngineer=(action 'deleteEngineer' engineer)}}
  {{/each}}
  </ul>
</li>
