<li class="team-listing-li">
  <div class="team-name">
    {{#if team.name}}
      <button class='js-delete-team button__x' {{action (action attrs.deleteTeam team)}}>&#215;</button> {{team.name}}
    {{else}}
      Free Agentz
    {{/if}}
  </div>
  <ul class="engineer-list">
  {{#each team.engineers as |engineer|}}
    {{engineer-listing engineer=engineer deleteEngineer=(action attrs.deleteEngineer engineer)}}
  {{/each}}
  </ul>
</li>
