<form>
  {{input class='js-create-engineer-input input' placeholder='Engineer name' value=name}}
  <button class='js-create-engineer-button button button__green' {{action attrs.createEngineer name}} disabled={{validations.isInvalid}}>Add engineer</button>
</form>
