<div>
  <form>
    {{input class='js-create-engineer-input' placeholder='Engineer name' value=name}}
    <button class='js-create-engineer-button' {{action 'createEngineer'}} >Add engineer</button>
  </form>
</div>
